'body':
  'ctrl-tab': 'pane:show-next-item'
  'ctrl-tab ^ctrl': 'unset!'
  'ctrl-shift-tab': 'pane:show-previous-item'
  'ctrl-shift-tab ^ctrl': 'unset!'

'atom-text-editor.autocomplete-active':
  'tab': 'core:move-down'

'atom-text-editor':
  'ctrl-shift-m': 'bracket-matcher:select-inside-brackets'
  'ctrl-shift-l': 'editor:split-selections-into-lines'

'atom-workspace':
  'ctrl-i':     'cursor-history:next'
  'ctrl-o':     'cursor-history:prev'
  'ctrl-cmd-i': 'cursor-history:next-within-editor'
  'ctrl-cmd-o': 'cursor-history:prev-within-editor'
