'body':
  'ctrl-tab': 'pane:show-next-item'
  'ctrl-tab ^ctrl': 'unset!'
  'ctrl-shift-tab': 'pane:show-previous-item'
  'ctrl-shift-tab ^ctrl': 'unset!'

'atom-text-editor.autocomplete-active':
  'tab': 'core:move-down'

'atom-text-editor':
  'ctrl-shift-m': 'bracket-matcher:select-inside-brackets'
  'ctrl-shift-l': 'editor:split-selections-into-lines'
  'ctrl-alt-h': 'highlight-selected:toggle'

